


[gcode_macro _UPDATE_IDLER]
gcode:
    {% set position = params.POSITION|default(-1)|int %}
    # Update Ultimulti object  
    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=idler_position VALUE={position}

[gcode_macro _UPDATE_SELECTOR]
gcode:
    {% set position = params.POSITION|default(-1)|int %}
    # Update Ultimulti object
    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=selector_position VALUE={position}

[gcode_macro _UPDATE_FILAMENT]
gcode:
    {% set selected = params.SELECTED|default(-1)|int %}
    # Update Ultimulti object
    SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=filament_selected VALUE={selected}
    SAVE_VARIABLE VARIABLE=filament_selected VALUE={selected}
    
# Call PAUSE_MMU if the filament is not detected by the FINDA
[gcode_macro _UPDATE_ENDSTOPS]
gcode:
    QUERY_ENDSTOPS
    __UPDATE_ENDSTOPS

# Sub call PAUS_MMU
[gcode_macro __UPDATE_ENDSTOPS]
gcode:
    {% if printer.query_endstops.last_query["manual_stepper gear"] == 1 %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=mmu_loaded VALUE=True
    {% else %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=mmu_loaded VALUE=False
    {% endif %}
    
    {% if printer["filament_switch_sensor filament"].filament_detected == True %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=extruder_loaded VALUE=True
    {% else %}
        SET_GCODE_VARIABLE MACRO=_MMU VARIABLE=extruder_loaded VALUE=False
    {% endif %}

